In [1]:
print('Hello World!')

Hello World!

In [1]:
import numpy as np
import pandas as pd

[Crosstab example](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html)
From pandas documentation

In [2]:
#Crosstab example
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
               "bar", "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)

In [3]:
pd.crosstab(a,[b,c], rownames=['a'], colnames=['b','c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2